.homeImage {
  width: 100%;
}
.category {
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  overflow: hidden;
}
.category img {
  transition: 1s;
}
.category :hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 0.5;
}

.small {
  font-size: 80%;
  font-weight: 400;
}
.reset-anchor {
  color: inherit;
  transition: all 0.3s;
  text-decoration: none;
}
